select {
  font-family: 'FontAwesome', 'sans-serif';
}
.submit {
 display: flex;
  /* height: 100%;  */
  align-items: flex-end;
}

.table-content {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
padding: 20px


}